<ion-header class="ion-text-center ion-no-border">
  <h1>SkeletonAPP</h1>
  <p>Aqui comienza todo</p>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-title class="ion-padding">{{title}}</ion-title>
  </div>
  <div class="ion-text-center">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-input maxlength="8" minlength="3" [(ngModel)]="user"
          >Usuario</ion-input
        >
      </ion-item>
      <ion-item>
        <!--<ion-input type="Password" [(ngModel)]="password">Password</ion-input>-->
      </ion-item>
    </ion-list>
    <ion-button
      expand="block"
      class="ion-padding"
      color="light"
      type="submit"
      (click)="validateLogin()"
    >
      Ingresar</ion-button
    >
    <!--<ion-button [routerLink]="['/index']"> Perfil </ion-button>-->
    <br />
    <a href="">Crea tu cuenta gratis</a>
  </div>
</ion-content>
