<ion-header class="ion-text-center ion-no-border">
  <h1>SkeletonAPP</h1>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-title class="ion-padding"></ion-title>
  </div>
  <div class="paddingLeft">Hola {{user}}</div>
  <br /><br />
  <div class="ion-text-center">
    <ion-title class="ion-padding">Información Adicional</ion-title>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input
            label="Nombre"
            placeholder="Ingrese Nombre"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Apellido"
            placeholder="Ingrese Apellido"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Nivel Educación" placeholder="Seleccione Nivel">
            <ion-select-option value="basica">Basica</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="tecnica">Tecnica</ion-select-option>
            <ion-select-option value="superior">Superior</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input label="Fecha Nacimiento" placeholder=""></ion-input>
          <ion-button color="light" (click)="presentPopover($event)">
            <ion-icon name="calendar-outline"></ion-icon>
          </ion-button>
          <p *ngIf="date">Fecha seleccionada: {{ date }}</p>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>
  <div><p>Fecha seleccionada: {{ date }}</p></div>

</ion-content>
